@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: square inside;
}
.box{
	width: 1000px;
	height: 600px;
	background: gainsboro;
	margin: 50px auto;
}
.top{
	height: 410px;
	background: saddlebrown;
}
.bottom{
	height: 80px;
	background: salmon;
	margin-top: 30px;
}
.top h2{
	height: 50px;
	background: sandybrown;
}
.main{
	height: 350px;
	background: seagreen;
	margin-top: 15px;
}
.left{
	width: 375px;
	height: 100%;
	background: silver;
	float: left;
}
.center{
	width: 245px;
	height: 100%;
	background: skyblue;
	float: left;
	margin-left: 55px;
}
.right{
	width: 290px;
	height: 100%;
	background: slateblue;
	float: right;
}
.bottom-t{
	height: 40px;
	background: gray;
}
.bottom-b{
	height: 40px;
	background: springgreen;
}
