@charset "utf-8";

/*div{
	margin: auto;
}*/
.outside{
	width: 1150px;
}
* {
	margin: 0 auto;
	padding: 0;
}

img{
	width: 270px;
	height: 175px;
}

dd{
	color: #c0d7e7;
	font-size: 10px;
	line-height: 24px;	
}

.dd-1{
	color: black;
	font-size: 15px;
	font-weight: bold;
}
.span-1{
	color: red;
	font-size: 17px;
}
.span-2{
	text-decoration: line-through;
}
.outside div{
	float: left;
	padding: 4px;
	margin: 5px 3px;
	border: solid #f3f3f3 1px;
}


